.transition-enter {
  color: skyblue;
  opacity: 0;
  transform: scale(1.1);
}

.transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.transition-exit {
  opacity: 1;
  transform: scale(1);
}

.transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}